<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/static/stylesheet.css">
</head>

<body>
  <div id="wrap">

    <div id="header">
    </div>

    <div id="container">

      <div id="root">

        <div id="left_col">
        </div>

        <div id="right_col">
        </div>

      </div>

    </div>

    <div id="footer">
    </div>

  </div>
</body>
</html>
